<!--img
  src="../../assets/img/logos/logo-n.png"
  class="rounded mx-auto d-block border-0"
  height="70px"
  width="100px"
  alt="logo"
/>
<ul class="nav display: flex">
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/home']" href="#">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/productos']">Ropa Mujer</a>
  </li>
  <<li class="nav-item">
    <a class="nav-link text-white " href="#">Hombre</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="#">Temporadas</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="#">Mujer</a>
  </li>>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/login']">acceso</a>
  </li>
</ul-->
<div class="menu-principal">
  <button mat-button>
    <a class="logo-header" href="#"
      ><img
        class="logo-header"
        src="../../assets/img/logos/logo-b.jpg"
        alt="Logo"
        width="60px"
    /></a>
  </button>

  <button class="space"></button>

  <button mat-button [matMenuTriggerFor]="ropa">Ropa</button>

  <mat-menu #ropa="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="ropamujer">Ropa de Mujer</button>
    <button mat-menu-item [matMenuTriggerFor]="ropahombre">
      Ropa de Hombre
    </button>
  </mat-menu>

  <mat-menu #ropamujer="matMenu">
    <a
      (click)="scrollToTopChaquetas()"
      mat-menu-item
      [routerLink]="['/productos']"
      >Chaquetas</a
    >
    <a
      (click)="scrollToTopPantalones()"
      mat-menu-item
      [routerLink]="['/productos']"
      >Pantalones</a
    >
    <a (click)="scrollToTopBlusas()" mat-menu-item [routerLink]="['/productos']"
      >Blusas</a
    >
    <a
      (click)="scrollToTopVestidos()"
      mat-menu-item
      [routerLink]="['/productos']"
      >Vestidos</a
    >
    <a
      (click)="scrollToTopZapatos()"
      mat-menu-item
      [routerLink]="['/productos']"
      >Zapatos</a
    >
    <a
      (click)="scrollToTopComplementos()"
      mat-menu-item
      [routerLink]="['/productos']"
      >Complementos</a
    >
  </mat-menu>

  <mat-menu #ropahombre="matMenu">
    <a
      (click)="scrollToTopChaquetas()"
      mat-menu-item
      [routerLink]="['/productos-hombres']"
      >Chaquetas</a
    >
    <a
      (click)="scrollToTopPantalonesH()"
      mat-menu-item
      [routerLink]="['/productos-hombres']"
      >Pantalones</a
    >
    <a
      (click)="scrollToTopZapatosH()"
      mat-menu-item
      [routerLink]="['/productos-hombres']"
      >Zapatos</a
    >
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="informacion">Información</button>

  <mat-menu #informacion="matMenu">
    <a
      (click)="scrollToTopChaquetas()"
      mat-menu-item
      [routerLink]="['/sobre-nosotros']"
      >¿Quienes Somos?</a
    >
    <a
      (click)="scrollToTopChaquetas()"
      mat-menu-item
      [routerLink]="['/contacto']"
      >Contacto</a
    >
  </mat-menu>

  <button mat-button>
    <a (click)="scrollToTopChaquetas()" [routerLink]="['/carrito']"> Carrito</a>
  </button>
</div>
