<img
  src="../../assets/img/logos/logo-n.png"
  class="rounded mx-auto d-block border-0"
  height="70px"
  width="100px"
  alt="logo"
/>
<ul class="nav display: flex">
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/home']" href="#">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/productos']">Temporadas</a>
  </li>
  <!--<li class="nav-item">
    <a class="nav-link text-white " href="#">Hombre</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="#">Temporadas</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-white" href="#">Mujer</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="['/login']">acceso</a>
  </li>
</ul>
