<!-- Sección contacto-->
<div class="contacto-inferior">
  <div class="row mb-3">
    <div class="col-8 descripcion-contactoinf">
      <p class="franja-negra-text">
        ¡Nos encantaría saber de ti! No dudes en contactarnos para cualquier
        consulta, comentario o colaboración.
      </p>
    </div>
    <div class="col-4 pt-5 pb-5">
      <div>
        <button type="button" class="btn btn-light">
          <mat-icon>perm_phone_msg</mat-icon>
          <b
            ><a [routerLink]="['/contacto']" class="btn-contact"
              >Contáctanos</a
            ></b
          >
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Sección contacto-->

<!-- Footer -->
<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row items-menu">
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled link-left mb-0">
            <li>
              <a (click)="scrollToTop()" [routerLink]="['/sobre-nosotros']"
                >Sobre Nosotros</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled link-left mb-0">
            <li>
              <a (click)="scrollToTop()" [routerLink]="['/contacto']"
                >Contáctanos</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled link-left mb-0">
            <li>
              <a [routerLink]="['/contacto']"> </a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled link-center mb-0">
            <li>
              <a href="#"
                ><img
                  class="logo-footer"
                  src="../../assets/img/logos/logo-n.png"
              /></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0 link-right">
            <li>
              <a [routerLink]="['/productos']"></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0 link-right">
            <li>
              <a (click)="scrollToTop()" [routerLink]="['/productos']">Mujer</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0 link-right">
            <li>
              <a (click)="scrollToTop()" href="#!">Hombre</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <!-- Section: Social media -->
    <hr />
    <section class="mb-1 mt-5">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/"
        target="_blank"
        role="button"
      >
        <img src="../../assets/img/footer/facebook.png" width="30" />
      </a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/"
        target="_blank"
        role="button"
        ><img src="../../assets/img/footer/instagram.png" width="30"
      /></a>

      <!-- WhatsApp -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://web.whatsapp.com/"
        target="_blank"
        role="button"
        ><img
          src="../../assets/img/footer/whatsapp.png"
          width="30"
          class="whatsapp-color"
      /></a>

      <!-- YouTube -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.youtube.com/"
        role="button"
        ><img
          src="../../assets/img/footer/youtube.png"
          target="_blank"
          width="30"
      /></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="Copyright">© 2023 Copyright</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
