<div class="banner-sobrenosotros">
  <h1><b>Sobre Nosotros</b></h1>
  <img
    class="Banner-sobre-nosotros"
    src="../../assets/img/sobre-nosotros/banner.jpg"
    alt="Sobre Nosotros"
  />
</div>

<div class="container description-we">
  <p>
    En nuestra tienda online, ofrecemos una amplia selección de ropa para mujer.
    Desde elegantes vestidos de noche hasta conjuntos casuales para el día a
    día, tenemos opciones para todas las ocasiones y estilos. Nuestro catálogo
    incluye prendas de marcas reconocidas que se caracterizan por su calidad,
    diseño y tendencias actuales.
  </p>
  <p>
    También nos enorgullece ofrecer una variedad de opciones de ropa para
    hombres. Desde trajes elegantes y camisas formales hasta ropa deportiva y
    casual, tenemos prendas para adaptarse a diferentes estilos y preferencias.
    Trabajamos con marcas de renombre que destacan por su calidad, ajuste y
    durabilidad.
  </p>
  <p>
    Nos comprometemos a proporcionar productos de alta calidad que sean
    duraderos y estén hechos para perdurar. Seleccionamos cuidadosamente cada
    prenda para asegurarnos de que cumpla con nuestros estándares de calidad.
    Trabajamos con proveedores confiables y marcas reconocidas para ofrecerte
    prendas que te brinden comodidad y estilo a largo plazo.
  </p>
  <p>
    Mantente a la vanguardia de la moda con nuestra selección de prendas
    inspiradas en las últimas tendencias. Nuestro equipo de expertos en moda
    está constantemente investigando y siguiendo las últimas novedades en el
    mundo de la moda para actualizar nuestro catálogo. Ya sea que busques
    prendas clásicas o estilos más vanguardistas, encontrarás opciones que se
    adapten a tu gusto y te ayuden a expresar tu personalidad.
  </p>
  <p>
    Entendemos que deseas recibir tus compras lo más rápido posible. Por eso,
    ofrecemos un servicio de envío rápido y seguro. Trabajamos con socios
    logísticos confiables para asegurarnos de que tus productos lleguen a tu
    puerta en el menor tiempo posible y en perfectas condiciones. Además, te
    brindamos información de seguimiento para que puedas rastrear el progreso de
    tu paquete.
  </p>
  <p>
    Tu satisfacción es nuestra máxima prioridad, por lo que ofrecemos un
    servicio de atención al cliente dedicado. Nuestro equipo está disponible
    para responder tus preguntas, brindarte asesoramiento de estilo y ayudarte
    en cualquier consulta relacionada con tu compra. Nos esforzamos por
    brindarte una experiencia de compra excepcional y garantizar tu satisfacción
    en cada paso del proceso.
  </p>

  <div class="img-nosotros">
    <img
      src="../../assets/img/sobre-nosotros/shopping.gif"
      alt="Compras online"
      class="compra-online"
    />
  </div>
</div>
