<div class="banner-ct-mujer">
  <img
    class="Banner-mujer"
    src="../../assets/img/mujer/interna-principal/banner.jpg"
  />
</div>

<div class="productos-items container text-center">
  <div class="row">
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <a [routerLink]="['/detalle']">
          <img
            src="../../assets/img/mujer/detalle-de-producto/chaqueta1.jpg"
            class="card-img-top"
            alt="Producto 1"
          />
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta2.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta3.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta1.jpg"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta2.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta3.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta1.jpg"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta2.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-sm-3">
      <div class="card">
        <img
          src="../../assets/img/mujer/detalle-de-producto/chaqueta3.png"
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
  </div>
</div>
