<!--Banner principal-->
<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/img/home/banner-2.jpg"
          class="d-block w-100"
          alt="Banner 1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/home/banner-1.jpg"
          class="d-block w-100"
          alt="Banner 2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/home/banner-3.jpg"
          class="d-block w-100"
          alt="Banner 3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--End Banner principal-->

<!--Sección Temporada-->

<div class="container">
  <h2 class="temporada-title"><b>Temporadas</b></h2>
  <input type="radio" name="dot" id="one" />
  <input type="radio" name="dot" id="two" />
  <div class="main-card">
    <div class="cards">
      <div class="card t-invierno">
        <div class="content text-img">
          <div class="details">
            <div class="name">Invierno</div>
            <div class="job">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Architecto, fugiat. A enim tempore, unde voluptatibus quia
              provident
            </div>
          </div>
        </div>
      </div>
      <div class="card t-verano">
        <div class="content text-img">
          <div class="details">
            <div class="name">Verano</div>
            <div class="job">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Architecto, fugiat. A enim tempore, unde voluptatibus quia
              provident
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card t-primavera">
        <div class="content text-img">
          <div class="details">
            <div class="name">Primavera</div>
            <div class="job">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Architecto, fugiat. A enim tempore, unde voluptatibus quia
              provident
            </div>
          </div>
        </div>
      </div>
      <div class="card t-otono">
        <div class="content text-img">
          <div class="details">
            <div class="name">Otoño</div>
            <div class="job">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Architecto, fugiat. A enim tempore, unde voluptatibus quia
              provident
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <label for="one" class="active one"></label>
    <label for="two" class="two"></label>
  </div>
</div>

<!--End Sección Temporada-->

<!--Secciones de ropa mujer & Hombre-->
<div class="seccion-ropah">
  <div class="card-tmujer">
    <div class="container card-mujer">
      <div class="row mb-3">
        <div class="col-6 pt-5 pb-5">
          <div>
            <img
              class="preview-img-ropam"
              src="../../assets/img/home/seccion-mujer.png"
              alt="Sección mujer"
            />
          </div>
        </div>
        <div class="col-6 card-descripcion-mujer">
          <div class="preview-tiendam">
            <h3><b>Ropa de Mujer</b></h3>
            <p class="pt-3pb-3">
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            </p>
            <button type="button" class="btn btn-dark pl-4">
              <b>Ver Todo</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-thombre">
    <div class="container card-hombre">
      <div class="row mb-3">
        <div class="col-6 card-descripcion-hombre">
          <div class="preview-tiendah">
            <h3><b>Ropa de Hombre</b></h3>
            <p class="pt-3 pb-3">
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            </p>
            <button type="button" class="btn btn-dark"><b>Ver Todo</b></button>
          </div>
        </div>
        <div class="col-6 pt-5 pb-5 img-th">
          <div>
            <img
              class="preview-img-ropah"
              src="../../assets/img/home/seccion-hombre.jpg"
              alt="Sección Hombre"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Secciones de ropa mujer & Hombre-->

<!-- Sección contacto>
<div class="contacto-inferior">
  <div class="row mb-3">
    <div class="col-8 descripcion-contactoinf">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing <br />
        elit, sed do eiusmod tempor incididunt ut labore
      </p>
    </div>
    <div class="col-4 pt-5 pb-5">
      <div>
        <button type="button" class="btn btn-light">
          <b
            ><a [routerLink]="['/contacto']" class="btn-contact"
              >Contáctanos</a
            ></b
          >
        </button>
      </div>
    </div>
  </div>
</div>
<!End Sección contacto-->
